{% load static %}
<footer>
    <div class="footer-pt1">
        <h1>Contato</h1>
        <div class="footer-pt-1-linha">
            <div class="footer-img-pt1">
                <img src="{% static '' %}" alt="">
            </div>
            <p>essencialmente@email.com</p>
        </div>
        <div class="footer-pt-1-linha">
            <div class="footer-img-pt1">
                <img src="{% static '' %}" alt="">
            </div>
            <p>Rua La Salle, 56 Xanxerê - SC</p>
        </div>
    </div>
    <div class="footer-pt2">
        <h1>Redes Sociais</h1>
        <div class="footer-pt-2-linha-icone">
            <div class="footer-img-pt2">
                <a href="https://www.instagram.com"><img src="{% static '' %}" alt="Instagram"></a>
            </div>
            <div class="footer-img-pt2">
                <a href="https://www.whatsapp.com"><img src="{% static '' %}" alt="Zap"></a>
            </div>
            <div class="footer-img-pt2">
                <a href="https://x.com"><img src="{% static '' %}" alt="Twitter"></a>
            </div>
        </div>
    </div>
</footer>