{% load static %}
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h2>Utilidades</h2>
            <div class="footer-divider"></div>
            <h3>Sobre nós</h3>
            <h3>Contato</h3>
            <h3>Parceiros</h3>
            <h3>Coleta</h3>
            <h3>Doação</h3>
            <h3>Perfil</h3>
        </div>
        <div class="footer-section">
            <h2>Contatos</h2>
            <div class="footer-divider"></div>
            <div class="footer-contact-item">
                <img src="{% static '/assets/imagens/Email.png' %}" alt="Email Icon">
                <h3>save.more.ifsc@gmail.com</h3>
            </div>
            <div class="footer-contact-item">
                <img src="{% static '/assets/imagens/Email.png' %}" alt="Address Icon">
                <h3>R. Euclides Hack, 1603 - Veneza, Xanxerê - SC, 89820-000</h3>
            </div>
            <div class="footer-contact-item">
                <img src="{% static '/assets/imagens/Email.png' %}" alt="Time Icon">
                <h3>Seg. a Sex das 7:45 às 11:45</h3>
            </div>
        </div>
        <div class="footer-section">
            <h2>Logo</h2>
            <div class="footer-divider"></div>
            <img src="{% static '/assets/logo/logo-2-azul.png' %}" alt="Save More Logo">
        </div>
    </div>
</footer>