{% load static %}
<header>
    <div class="header-img-logo">
        <img src="" alt="Logo Projeto Essencialmente">
    </div>
    <nav class="header-nav">
        <ul>
            {% comment %} {% url '' %} {% endcomment %}
            <li><a href=""><h2> Avaliações </h2></a></li>
            <li><a href=""><h2> Relatórios </h2></a></li>
            <li><a href=""><h2> Normas <br> Avaliação </h2></a></li>
            <li><a href=""><h2> Sobre </h2></a></li>
          </ul>
    </nav>
    <div class="header-button">
        <a href=""><h2>Entrar</h2></a>
    </div>
</header>