/* index.html */
.intro-section {
    display: flex;
    flex-direction: column;
    background-color: var(--branco); 
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 80px 200px 80px 200px;
}

.intro-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.intro-header h2{
    color: var(--verde-escuro);
    font-size: 25;
}

.intro-header h1{
    font-size: 40px;
    color: var(--verde-escuro);
}

.intro-header p{
    font-size: 20px;
    color: var(--verde-escuro);
}

.stats-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}
.stats-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 30px 0px 30px;
}

.stats-item h1{
    font-size: 40px;
    color: var(--verde-escuro);
}
.stats-item p{
    text-align: center;
    font-size: 20px;
    color: var(--verde-escuro);
}

.cause-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza);
    padding: 60px 90px 60px 90px;
    gap: 30px;
}

.cause-section img{
    height: 500px;
    width: 800px;
}

.cause-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 90px 0px 90px;
}

.cause-text h1{
    font-size: 35px;
}

.cause-text p{
    font-size: 20px;
    text-align: center;
}
/* Estilo geral para o contêiner principal */
.main-container {
    display: flex;
    flex-direction: column;
}

/* Estilo para a seção da imagem principal */
.main-image-section {
    background-color: var(--verde-escuro);
}

/* Estilo para a imagem dentro da seção */
.main-image-section img {
    width: auto;
    height: 543px;
}

/* Estilo para a seção de informações */
.main-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: auto;
    background-color: var(--verde-escuro);
}

/* Estilo para os títulos na seção de informações */
.main-info-section h1 {
    color: var(--branco);
}

/* Estilo para os parágrafos na seção de informações */
.main-info-section p {
    color: var(--branco);
}

/* Estilo para o contêiner das colunas de informações */
.info-columns-container {
    display: flex;
    padding: 60px 90px 40px 90px; /* top, right, bottom, left */
    gap: 60px;
}

/* Estilo para cada coluna de informações */
.info-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 50px 0px 50px; /* top, right, bottom, left */
}

/* Estilo para a linha divisória entre as colunas */
.info-divider {
    width: 2px;
    height: 100px;
    background-color: var(--branco);
}





























/* login.html */
.login-section {
    display: flex;
}

.login-section img{
    display: flex;
    width: 55%;
    height: 750px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 0px;
}

.login-quote {
    background-color: var(--verde-escuro);
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    gap: 10px;
}

.login-quote p{
    text-align: center;
}

.login-quote h1{
    text-align: end;
}

.login-form h2{
    font-size: 30px;
}

.login-form-container {
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
}
























/* perfil.html */
.profile-section {
    display: flex;
}

.profile-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 50px 0px;
    background-color: var(--cinza);
    gap: 15px;
}

.profile-photo-container img{
    height: 350px;
    width: 350px;
}

/* Contêiner para centralizar os botões, opcional */
.profile-button-container {
    display: flex;
    gap: 10px; /* Espaço entre os botões */
}

/* Estilo básico para os botões */
.profile-button {
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    color: black; /* Cor do texto */
    background-color: var(--cinza); /* Cor de fundo verde */
    border: 1px solid black;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra o cursor de mão */
    transition: background-color 0.3s ease; /* Transição suave na cor de fundo */
}

/* Efeito ao passar o mouse sobre o botão */
.profile-button:hover {
    background-color: var(--laranja); /* Cor de fundo mais escura no hover */
}

.profile-button-secondary {
    width: 350px;
    padding: 10px 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    color: black; /* Cor do texto */
    background-color: var(--cinza); /* Cor de fundo verde */
    border: 1px solid black;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra o cursor de mão */
    transition: background-color 0.3s ease; /* Transição suave na cor de fundo */
    margin-bottom: 5px; /* Adiciona espaço entre os botões */
}

/* Efeito ao passar o mouse sobre o botão */
.profile-button-secondary:hover {
    background-color: var(--laranja); /* Cor de fundo mais escura no hover */
}

.profile-data-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    height: auto;
    padding: 20px 0px;
    background-color: var(--branco);
    gap: 15px;
}




















/* registro.html */
.registro-out {
    display: flex;
}

.registro-out img{
    display: flex;
    width: 55%;
    height: 750px;
}

.registro-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-top: 12px;
}
.registro-form h2{
    font-size: 30px;
}

.registro-form-out {
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
}
