{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <a href="{% url 'index' %}" id="link-logo-home">
        <img src="{% static 'assets/logo/logo-2-azul.png' %}" id="fixed-logo-login" alt="Logo Save More">
    </a>
    
    <!-- main-login → login-section
    main-login-form-out → login-form-container
    main-login-form → login-form
    main-login-frase → login-quote
    form-group → login-form-group -->
    <section class="login-section">
        <div class="login-form-container">
            <div class="login-form">
                <div class="login-quote">
                    <p>"Não espere ter muito para poder ajudar o próximo. Quando o desejo de doar brotar em seu coração, DOE! Pois o pouco se tornará muito.”</p>
                    <h1>Bia Cortéz</h1>
                </div>
                <h2>Login</h2>
                <form class="form-login" method="POST">
                    <!-- {% csrf_token %} -->
                    
                    <!-- Nome -->
                    <div class="login-form-group">
                        <label for="nome">Nome Completo:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>
            
                    <!-- Email -->
                    <div class="login-form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <!-- Senha -->
                    <div class="login-form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" required>
                        <button type="button" class="login-show-password" onclick="">&#128065;</button> <!-- ícone de olho -->
                    </div>
            
                    <!-- Confirmar Senha -->
                    <div class="login-form-group">
                        <label for="confirmar_senha">Confirme sua Senha:</label>
                        <input type="password" id="confirmar_senha" name="confirmar_senha" required>
                        <button type="button" class="login-show-password" onclick="">&#128065;</button> <!-- ícone de olho -->
                    </div>
                    <!-- Botão de envio -->
                    <div class="login-form-group">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
                
            </div>
        </div>
        <img src="{% static '/assets/imagens/img-login.png' %}" alt="" >
    </section>
{% endblock %}