{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="main-description">
            <h1>O acompanhamento de crianças e adolescentes com foco no seu bem estar!</h1>
            <div class="main-button">
                <a href=""><h3>Saiba mais</h3></a>
            </div>
        </div>
        <div class="main-img">
            <img src="{% static '" alt="">
        </div>
    </main>
    <section class="section-one">
        <h1>Avaliações</h1>
        <div class="external-section-one-card">
            <div class="section-one-card">
                <div class="section-one-card-img">
                    <img src="{% static '' %}" alt="Médico medindo altura de uma criança">
                </div>
                <div class="section-one-card-description">
                    <h2>Avaliação da Antropometria <br>e Composição Corporal</h2>
                    <p>Lorem adipisicing elit. Ad, voluptate, possimus tenetur facere iusto magni temporibus dolore vero ? At.</p>
                </div>
                <div class="section-one-card-button">
                    <a href="">Avaliar</a>
                </div>
            </div>
            <div class="section-one-card">
                <div class="section-one-card-img">
                    <img src="{% static '' %}" alt="Médico medindo altura de uma criança">
                </div>
                <div class="section-one-card-description">
                    <h2>Avaliação IMC</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, voluptate, possimus tenetur facere iusto magni temporibus dolore vero provident blanditiis animi, eum est nobis porro illo autem perspiciatis velit? At.</p>
                </div>
                <div class="section-one-card-button">
                    <a href="">Avaliar</a>
                </div>
            </div>
            <div class="section-one-card">
                <div class="section-one-card-img">
                    <img src="{% static '' %}" alt="Médico medindo altura de uma criança">
                </div>
                <div class="section-one-card-description">
                    <h2>Avaliação Abdominais</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, voluptate, possimus tenetur facere iusto magni temporibus dolore vero provident blanditiis animi, eum est nobis porro illo autem perspiciatis velit? At.</p>
                </div>
                <div class="section-one-card-button">
                    <a href="">Avaliar</a>
                </div>
            </div>
        </div>
        
    </section>

{% endblock %}