{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save More</title>

    {% comment %} fontes {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    {% comment %} <!-- shared --> {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles/shared/utilities.css' %}">
    <link rel="stylesheet" href="{% static 'styles/shared/id-classes.css' %}">
    <link rel="stylesheet" href="{% static 'styles/shared/global.css' %}">

    {% comment %} <!-- partials --> {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles/partials/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/partials/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/partials/sections.css' %}">
    <link rel="stylesheet" href="{% static 'styles/partials/components.css' %}">

    {% comment %} <!-- form --> {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles/forms/form-login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/forms/form-perfil.css' %}">
    <link rel="stylesheet" href="{% static 'styles/forms/form-registro.css' %}">


</head>

<body>
    {% comment %} {% include 'partials/_menu.html' %} {% endcomment %}
    {% block content %}{% endblock %}
    {% comment %} {% include 'partials/_footer.html' %} {% endcomment %}
</body>

</html>